PORT=4198
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=toko_alit_auth_db
JWT_ACCESS_SECRET=Alit
JWT_REFRESH_SECRET=Reja
SALT_ROUNDS=12


ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=alit0858